body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    width: 960px;
    margin-right: auto;
    margin-left: auto;  

}

header {
    width: 100%;

}

.header-content {
    
}

h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;

}

a {


}

.container {
    

}

.about-me {


}

h2 {
    font-family: "Georgia", Times, "Times New Roman", serif;

}

#about-me-image {
  

}

p {


}

.flex-container {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-top: 8px solid #4aaaa5;
    font-size: 8px;
    color: #ffffff;
    background-color: #666666;
    justify-content: center;
    align-items: flex-end;
    
    
}