body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    
    /* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/  */
    background-image: url("./assets/images/prism_background/prism.png");
    background-repeat: repeat-x;
    
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

header {
    width: 100%;

}

.header-content {
    
}

h1 {
    font-family: "Georgia", Times, "Times New Roman", serif;

}

a {


}

.container {
    

}

.about-me {


}

h2 {
    font-family: "Georgia", Times, "Times New Roman", serif;

}

#about-me-image {
  

}

p {


}

.footer-content {


}

h3 {
    font-family: "Georgia", Times, "Times New Roman", serif;

}

.footer {


}