body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 125%;
    
    /* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/ */
    background-image: url("../images/prism.png");
}

header {
    width: 100%;
    margin: 0 auto 25px auto;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    padding: 20px 0px 20px 0;
}

.header-content {
    width: 960px;
    margin-right: auto;
    margin-left: auto;    
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #ffffff;
    background-color: #4aaaa5;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}

a {
    color: #777777;
    float: right;
    font-size: 12px;
    text-decoration: none;  
}

.container {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#portfolio {
    overflow: auto;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color:#4aaaa5;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    padding: 20px 20px 20px 0;
}

.image1-lefttop { 
    /* Image by Christian Klein https://pixabay.com/users/XtianDuGard-5845424/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4642101 from Pixabay https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4642101 */
    background-image: url(../images/placeholder1.jpg);
    background-size: 100% 100%;
    float: left;
    width: 30%;
    height: 200px; 
    margin: 0px 10px 45px 20px;
}

.image1-text {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: small;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin-top: 155px;
}

.image2-centercenter { 
    /* Image by Ronny Overhate  https://pixabay.com/users/ROverhate-1759589/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1127666 from Pixabay https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1127666 */
    background-image: url(../images/placeholder2.jpg);
    background-size: 100% 100%;
    float: left;
    width: 30%;
    height: 200px;
    margin-left: 20px;
}
 
.image2-text {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: small;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin-top: 155px;
}

.image3-leftcenter { 
    /* Image by Devanath https://pixabay.com/users/Devanath-1785462/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1205631 from Pixabay https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1205631 */
    background-image: url(../images/placeholder3.jpg);
    background-size: 100% 100%;
    clear: both;
    float: left;
    width: 30%;
    height: 200px; 
    margin: 0px 10px 45px 20px;
}

.image3-text {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: small;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin-top: 155px;
}

.image4-center { 
    /* Image by Kohji Asakawa https://pixabay.com/users/DeltaWorks-37465/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=250016 from Pixabay https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=250016 */
    background-image: url(../images/placeholder4.jpg);
    background-size: 100% 100%;
    float: left;
    width: 30%;
    height: 200px;
    margin-left: 20px;
}
 
.image4-text {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: small;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin-top: 155px;
}

.image5-leftbottom { 
    /* Image by DreamyArt https://pixabay.com/users/DreamyArt-512893/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=571956  from Pixabay https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=571956 */
    background-image: url(../images/placeholder5.jpg);
    background-size: 100% 100%;
    clear: both;
    float: left;
    width: 30%;
    height: 200px; 
    margin: 0px 10px 65px 20px;
}

.image5-text {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: small;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    margin-top: 155px;
}

.flex-container {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    padding-top: 30px;
    font-size: 8px;
    color: #ffffff;
    background-color: #610b0b;
    text-align: center;
}